<ul>
  <li> <%= band.name %> </li>

  <% if action == :show %>
    <li>
      <a href="<%= edit_band_url(band) %>">Edit <%= band.name %></a>
    </li>

    <li><a href="<%= bands_url %>">Band Index</a> </li>

  <% else %>
    <li><a href="<%= band_url(band) %>">Band Page</a> </li>
  <% end %>

  <li>
    <form action="<%= band_url(band) %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Delete Band">
    </form>
  </li>
</ul>
